**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
cache/*
!results/timing/
.env
_build_cache/
CLAUDE.md
/analysis/
*.log
# *.sh
TUTORIAL.md
.github/
.claude/

# log files
logs/

# related files for aideml
workspaces/
integration_test_task*/
run_integration/*
runs_evolving/*
scripts_integration/new_evolving_agent/analysis/*.json

aide/
eval_log/

subset_selection/*.csv
!subset_selection/selected_problems_50.csv
subset_selection/*.md
subset_selection/*.json

.DS_Store

# memory files
.agent_memory/
chroma_db/