[submodule "aideml"]
	path = aideml
	url = https://github.com/Kelvin0110/aideml.git
[submodule "Self-Evolving-Agent"]
	path = Self-Evolving-Agent
	url = https://github.com/Kelvin0110/Self-Evolving-Agent.git
	branch = Kelvin/prototype2
